In [5]:
from pyspark.sql import SparkSession
import matplotlib
import matplotlib.pyplot as plt
import plotly.plotly as py
import plotly
plotly.tools.set_credentials_file(username='mcbloom', api_key='WkKpONteEAFhEjbvxqZf')
import plotly.graph_objs as go
import pandas as pd
import requests

spark = SparkSession \
    .builder \
    .appName("Python Spark SQL basic example") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

input_csv = 'file:////ifs/muse/Muse-2537_2019-05-06--12-11-25_1557159195080.csv'


# spark is an existing SparkSession
df = spark.read.csv('file:////ifs/muse/Muse-2537_2019-05-06--12-11-25_1557159195080.csv',  header='true')



#print ("Record count:")
#df.count()

#print ("Schema:")

#df.printSchema()

#dataPath = "/databricks-datasets/Rdatasets/data-001/csv/ggplot2/diamonds.csv"







#print ("Raw data:")

# Displays the content of the DataFrame to stdout
#df.show()


#print ("Record count:")

df.createOrReplaceTempView("Muse2output")

#df2 = spark.sql("SELECT muse2output.timestamps, muse2output.eeg_1,muse2output.eeg_2,muse2output.eeg_3,muse2output.eeg_4,muse2output.eeg_5,muse2output.eeg_6,muse2output.acc_1,muse2output.acc_2,muse2output.acc_3,muse2output.gyro_1,muse2output.gyro_2,muse2output.gyro_3,muse2output.batt_1,muse2output.batt_2,muse2output.batt_3,muse2output.drlref_1,muse2output.drlref_2,muse2output.delta_absolute_1,muse2output.delta_absolute_2,muse2output.delta_absolute_3,muse2output.delta_absolute_4,muse2output.theta_absolute_1,muse2output.theta_absolute_2,muse2output.theta_absolute_3,muse2output.theta_absolute_4,muse2output.alpha_absolute_1,muse2output.alpha_absolute_2,muse2output.alpha_absolute_3,muse2output.alpha_absolute_4,muse2output.beta_absolute_1,muse2output.beta_absolute_2,muse2output.beta_absolute_3,muse2output.beta_absolute_4,muse2output.gamma_absolute_1,muse2output.gamma_absolute_2,muse2output.gamma_absolute_3,muse2output.gamma_absolute_4,muse2output.delta_relative_1,muse2output.delta_relative_2,muse2output.delta_relative_3,muse2output.delta_relative_4,muse2output.theta_relative_1,muse2output.theta_relative_2,muse2output.theta_relative_3,muse2output.theta_relative_4,muse2output.alpha_relative_1,muse2output.alpha_relative_2,muse2output.alpha_relative_3,muse2output.alpha_relative_4,muse2output.beta_relative_1,muse2output.beta_relative_2,muse2output.beta_relative_3,muse2output.beta_relative_4,muse2output.gamma_relative_1,muse2output.gamma_relative_2,muse2output.gamma_relative_3,muse2output.gamma_relative_4,muse2output.delta_session_score_1,muse2output.delta_session_score_2,muse2output.delta_session_score_3,muse2output.delta_session_score_4,muse2output.theta_session_score_1,muse2output.theta_session_score_2,muse2output.theta_session_score_3,muse2output.theta_session_score_4,muse2output.alpha_session_score_1,muse2output.alpha_session_score_2,muse2output.alpha_session_score_3,muse2output.alpha_session_score_4,muse2output.beta_session_score_1,muse2output.beta_session_score_2,muse2output.beta_session_score_3,muse2output.beta_session_score_4,muse2output.gamma_session_score_1,muse2output.gamma_session_score_2,muse2output.gamma_session_score_3,muse2output.gamma_session_score_4,muse2output.blink,muse2output.jaw_clench,muse2output.hsi_precision_1,muse2output.hsi_precision_2,muse2output.hsi_precision_3,muse2output.hsi_precision_4,muse2output.note,muse2output.recorder_info from Muse2output")
df2 = spark.sql("SELECT  muse2output.eeg_1 as eeg1 from muse2output")
#df2.collect()

data = [go.Histogram(x=df2.toPandas()['eeg1'])]

py.iplot(data, filename="museeeg1")

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~mcbloom/0 or inside your plot.ly account where it is named 'museeeg1'

/opt/conda/lib/python3.7/site-packages/IPython/core/display.py:689: UserWarning:

Consider using IPython.display.IFrame instead